# Compiled source files
*.class
*.o
*.so
*.exe
*.out
*.bin

# Python
__pycache__/
*.pyc

# C++
*.obj
*.dll

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Build folders
build/
dist/

# Node modules
node_modules/

# Environment files
.env

# Others
*.bak
*.old